@define-color borderColor #41a6b5;
@define-color fg1 #7dcfff;
@define-color fg2 #bb9af7; 


* {
    font-family: FontAwesome;
    font-weight: bold;
    font-size: 10px;
    
    /*border: 2px solid black;*/
    /*border-color: #11f1f1;*/
    /*border-radius: 15px;*/
}

window#waybar {
    padding-left: 100px; 
    background-color: rgba(50,75,110,0.9);
    border-radius: 10px 10px 10px 10px;
    transition-duration: .5s;
}


.modules-left {
    padding-left: 40px;
}

.modules-right {
    padding-right: 40px;
}

#custom-dunst,
#custom-appmenu,
#user,
#backlight,
#clock,
#language,
#pulseaudio,
#hardware,
#submap
{
    color: #00ff00;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 4px;
    margin-bottom: 4px;
    border: 2px solid @borderColor;
    border-radius: 20px;
}

#submap {
    color: #aa0000;
    border: 2px solid #ffff00;
}

/*hardware group*/

#cpu
{
    padding-left: 0px;
    padding-right: 5px;
}

#memory
{
    padding-left: 5px;
    padding-right: 5px;
}

#disk
{
    padding-left: 5px;
    padding-right: 0px;
}

/* #workspaces { */
/*     background-color: rgba(100,75,110,1); */
/*     margin-top: 2px; */
/*     margin-bottom: 2px; */
/*     border: 0px solid @borderColor; */
/*     border-radius: 10px; */
/* } */

#workspaces button {
    padding-left: 8px;
    padding-right: 8px;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 2px;
    margin-right: 2px;

    border: 2px solid @borderColor;
    border-radius: 100px;
    
    background-color: #3d59a1;
}

#workspaces button.empty {
    background-color: #7aa2f7;
    color: @fg1;
}

#workspaces button.visible {

}

#workspaces button.active {
    color: #c53b53;
    background-color: #ffc777;
    border-color: #ff757f;
    padding-left: 12px;
    padding-right: 12px;
}

